<h3>Available guides</h3>

<%=partial :_link_to, :locals => { :version => '2.3.5', :file => "RailsGuides-v2.3.5.zip"} %>
<%=partial :_link_to, :locals => { :version => '3.0.0', :file => "RailsGuides-v3.0.0.zip"} %>

<%=partial :_mirrors %>